# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
*.egg

# Build output
build/
installer_output/

# Output videos
hasil/

# Binary / large files
*.exe
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp
*.tmp
*.log
*.mp4
hasil/
hasil2/
